# /opt/services/Hommer/heplify-server.toml

[HEPServer]
  Addr          = "0.0.0.0:9060"
  TCPAddr       = "0.0.0.0:9060"

[Database]
  Driver        = "postgres"
  Addr          = "db:5432"
  User          = "{{ postgres_user }}"
  Pass          = "{{ postgres_password }}"
  Name          = "{{ postgres_db }}"
  RotateTable   = "{{ rotate_table_time }}" 
  
[Prometheus]
  Addr          = "0.0.0.0:9096"
  PromStats     = {{ promstats }}   # Enables KPI calculation (ASR, Stats)
  WaitSessions  = {{ waitsessions }}   # WAITS for call to end to calculate ACD (Duration)
  PromTargetIP  = {{ prom_target_ip }}   # Breaks down metrics by Source IP
  # ------------------------------------------

[Loki]
  Enable        = {{ loki_enabled }}

[AlegIDs]
  Enable        = {{ AlegIDs_enabled }}

[Logs]
  Console       = {{ logs_console }}
  Level         = "{{ log_level }}"
