#Types: deb
#URIs: https://repo.mizbaninternal.ir/repository/debian
#Suites: resolute resolute-updates resolute-backports
#Components: main restricted universe multiverse
#Trusted: yes
#
#Types: deb
#URIs: https://repo.mizbaninternal.ir/repository/debian-security
#Suites: resolute-security
#Components: main restricted universe multiverse
#Trusted: yes